@{
    ViewBag.Title = "Index Account";
}

<h1>Index Account</h1>

<form method="post" asp-controller="Account" asp-action="Login">
    <button class="btn btn-info">Login</button>
</form>

<form method="post" asp-controller="Account" asp-action="Logout">
    <button class="btn btn-info">Logout</button>
</form>
